<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:label="${appLabel}"
        android:supportsRtl="true"
        android:theme="@style/Theme.TsuguRegiPlus">

        <provider
            android:name=".GoogleDriveDirectSyncBootstrapProvider"
            android:authorities="${applicationId}.google-drive-direct-sync-bootstrap"
            android:exported="false"
            android:initOrder="100" />

        <activity
            android:name=".GoogleDriveSetupGuideActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".GoogleDriveDiagnosticsActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".GoogleDriveRecoveryActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".GoogleDriveAccountActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
