<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".PrinterStatusActivity"
            android:exported="true"
            android:label="つぐレジ プリンター診断"
            android:screenOrientation="landscape"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrinterStatusProbeActivity"
            android:exported="true"
            android:label="つぐレジ 状態RAWプローブ"
            android:screenOrientation="landscape"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrinterNotificationSettingsActivity"
            android:exported="true"
            android:label="つぐレジ 通知設定"
            android:screenOrientation="landscape"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrinterSoakTestActivity"
            android:exported="true"
            android:label="つぐレジ 連続印刷試験"
            android:screenOrientation="landscape"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrinterSoakTestHistoryActivity"
            android:exported="true"
            android:label="つぐレジ 試験履歴"
            android:screenOrientation="landscape"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrinterToolsHubActivity"
            android:exported="true"
            android:label="つぐレジ プリンター運用"
            android:screenOrientation="landscape"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnifiedPrintQueueActivity"
            android:exported="true"
            android:label="つぐレジ 印刷キュー"
            android:screenOrientation="landscape"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
